<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="All Test Suite">
    <test thread-count="2" verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/POM_Selenium/src/test/java/testcases">
        <classes>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="testLoginWithValidCredentials"/>
                    <include name="testLoginWithinValidCredentials"/>
                    <include name="testLoginWithemptyUserName"/>
                    <include name="testLoginWithemptyPassword"/>
                </methods>
            </class>
            <class name="testcases.ProductTest">
                <methods>
                    <include name="testFakeDataCreate"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>