<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/POM_Selenium">
        <classes>
            <class name="testcases.TC01LoginTest">
                <methods>
                    <include name="testLoginWithValidCredentials"/>
                </methods>
            </class>
            <class name="testcases.TC02ProductTest">
                <methods>
                    <include name="addToCartProduct"/>
                </methods>
            </class>
            <class name="testcases.TC03CartTest">
                <methods>
                    <include name="clickCheakOutButton"/>
                </methods>
            </class>
            <class name="testcases.TC04CheckOutTest">
                <methods>
                    <include name="clickContinueButton"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>